{% extends 'base_page.html'%}
{% block content%}

    <h1>Welcome to Weather-Alert-App</h1>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sing In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="uploade.html">Sing Up</a>
            </li>

        </ul>


{% endblock%}